
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}


<main id="authentication" class="inner-bottom-md">
    <div class="container">
        <div class="row">

            <h2>ThongBao</h2>
            @Html.Raw(ViewBag.mesage)

        </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /.authentication -->
