@model List<DoAnDT.Models.LoaiSP>

@foreach (var item in Model)
{
    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("AdvancedSearchView", "Search", new { loai = item.MaLoai })">@item.TenLoai</a></li>
}
