@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bạn không được quyền truy cập vào đường dẫn này, vui lòng quay lại.</title>
</head>

<body style="background-image: url(@Url.Content("~/images/circuit-lock.jpg")); background-repeat:no-repeat; background-size:100%">
    <div>

    </div>
</body>
</html>
