@model IQueryable<DoAnDT.Models.SanPham>

<div class="widget">
    <h1 class="border">Giảm giá nhiều</h1>
    <ul class="product-list">
        @foreach (var item in Model)
        {
            @Html.Partial("_MiniProductPartial", item)
        }
    </ul>
</div><!-- /.widget -->
