@model List<DoAnDT.Models.SanPham>
@foreach(var temp in Model)
{
    <div class="no-margin carousel-item product-item-holder size-small hover">
        @Html.Partial("_ProductGridShowPartal",temp)
    </div><!-- /.product-item-holder -->
}
