@model List<DoAnDT.Models.Thanhviennhom>
@{ 
    ViewBag.Title = "Thông tin nhóm";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml"; 
}

<div class="oauth">
    <h4>Thông tin các thành viên trong nhóm :</h4>
    <hr />
    <table class="table-bordered group" width="100%" >
        <tr>
            <th id="MSSV">MSSV</th>
            <th id="hovaten">Họ và Tên</th>
            <th id="link">Link Facebook</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].MSSV</td>
                <td>@Model[i].Hoten</td>
                <td><a>@Model[i].LinkFacebook</a></td>
            </tr>
        }
    </table>
</div>



